{:nextplace/db     {:path "data/nextplace.db"}
 :nextplace/schema {:db #ig/ref :nextplace/db}
 :nextplace/server {:schema #ig/ref :nextplace/schema
                    :port   8888
                    :env    :dev}}
